.gradle
build
_build
.classpath
.project
.settings
bin
src/main/Main.iml
src/main/java/jfxtras/labs/scene/control/gauge/Gauge.iml
*.iml
*.ipr
*.iws
out/
.idea/
src/main/java/jfxtras/labs/scene/control/gauge/Demo.java
src/main/java/jfxtras/labs/scene/control/gauge/.DS_Store
src/main/java/Demo.java
/nbproject/private/
/nbbuild/
/dist/
nbproject
build.xml
.DS_Store