/* 
    Document   : JFXMapPaneDemo
    Created on : Aug 16, 2012, 7:19:05 PM
    Author     : smithjel
    Description: style sheet with higher contrast when images are rendered.
*/

#cursorLocation {
    -fx-fill: white;
}

#termsOfUse {
    -fx-fill: white;
}

#copyRight {
    -fx-fill: lemonchiffon;
}
