/* 
    Document   : JFXMapPaneDemo
    Created on : Aug 16, 2012, 7:19:05 PM
    Author     : smithjel
    Description: default stylesheet for the map component
*/

#termsOfUse {
    -fx-fill: blue;
}

#copyRight {
    -fx-fill: lemonchiffon;
}
