/* 
    Created on : Aug 17, 2013
    Author     : Mario Schroeder
    Description: stylesheet for the map scene
*/

#toolBar {
    -fx-base: #505359;
    -fx-background: #505359;
    -fx-shadow-highlight-color: transparent;
    -fx-spacing: 5;
    -fx-padding: 4 4 4 4;
}

#btnCenter {          
    -fx-background-image: url("center-map.png");
    -fx-background-size: 14 14;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}