#segmentRelatedIndicators .segment1-activex {
	-fxx-warning-indicator-visibility: visible; 
}

#segmentRelatedIndicators .segment2-activex {
	-fxx-error-indicator-visibility: visible; 
}

#segmentRelatedIndicators .segment-warningSegment-active {
	-fxx-warning-indicator-visibility: visible; 
}

#segmentRelatedIndicators .segment-errorSegment-active {
	-fxx-error-indicator-visibility: visible; 
}