/* basic settings */
.CalendarPicker { 
	-fx-skin: "jfxtras.labs.internal.scene.control.skin.CalendarPickerControlSkin";
}

.CalendarPickerControlSkin { 
}

.CalendarPickerControlSkin .weekday-label {
	-fx-alignment: CENTER;
}

.CalendarPickerControlSkin .non-weekend { 
}

.CalendarPickerControlSkin .weekend { 
	-fx-text-fill: -fx-accent;
}

.CalendarPickerControlSkin .day-button { 
}

/* highlight today */
.CalendarPickerControlSkin .today { 
	-fx-color: DARKGRAY; 
}