/* basic settings */
.calendarpickerx { 
	-fx-skin: "jfxtras.labs.internal.scene.control.CalendarPickerXControlSkin";
}

/* style level 
.CalendarPickerXControlSkin { 
}
*/

/* weekday 
.CalendarPickerXControlSkin .weekday { 
}
*/

.CalendarPickerXControlSkin .weekend { 
	-fx-text-fill: -fx-accent;
}

/* day
.CalendarPickerXControlSkin .day { 
}
*/

/* highlight today */
.CalendarPickerXControlSkin .today { 
	-fx-color: DARKGRAY; 
}