/* basic settings */
.CalendarPicker { 
	-fx-skin: "jfxtras.labs.internal.scene.control.skin.CalendarPickerControlSkin";
}

/* style level 
.CalendarPickerControlSkin { 
}
*/

/* weekday 
.CalendarPickerControlSkin .weekday { 
}
*/

.CalendarPickerControlSkin .weekend { 
	-fx-text-fill: -fx-accent;
}

/* day
.CalendarPickerControlSkin .day { 
}
*/

/* highlight today */
.CalendarPickerControlSkin .today { 
	-fx-color: DARKGRAY; 
}