.BasicArcGauge {

    /* These are the variables with their default values (colors), special combinations can be set by assigning one of the colorschemes */    
    -fxx-backplate-color: #f0f0f0;
	-fxx-needle-color: #F8907D;
	-fxx-tick-color: black;
	-fxx-knob-color: grey;
    -fxx-segment0-color: #f61319;
    -fxx-segment1-color: #f3351f;
    -fxx-segment2-color: #f65821;
    -fxx-segment3-color: #f18c23;
    -fxx-segment4-color: #f3a429;
    -fxx-segment5-color: #fccb2e;
    -fxx-segment6-color: #f2de31;
    -fxx-segment7-color: #d4ea35;
    -fxx-segment8-color: #aacc2a;
    -fxx-segment9-color: #97b329;
}

.backplate {
	-fx-fill: -fxx-backplate-color;
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.3), 20, 0.0, 0, 20);
}

.tick {
}

.needle-standard {
    -fx-background-color : derive(-fxx-needle-color, -30%),
    	linear-gradient(to left,
            derive(-fxx-needle-color, 15%) 0%,
            derive(-fxx-needle-color, -15%) 100%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0em;
    -fx-padding: 0;
    -fx-stroke: transparent;
    -fx-scale-shape: false;
    -fx-shape: "M -4 0 L 4 0 L 1 95 L -1 95 Z";
    
}

.knob {
    -fx-background-color : linear-gradient(to bottom,
                                           derive(-fxx-knob-color, 80%) 0%,
                                           derive(-fxx-knob-color, 40%) 52%,
                                           derive(-fxx-knob-color, 0%) 100%),
                           linear-gradient(to bottom,
                                           derive(-fxx-knob-color, 70%) 0%,
                                           derive(-fxx-knob-color, 30%) 45%,
                                           derive(-fxx-knob-color, 0%) 100%);
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0em;
    -fx-scale-shape      : false;
    -fx-shape            : "M 0 100 C 0 44.7708 44.7708 0 100 0 C 155.2292 0 200 44.7708 200 100 C 200 155.2292 155.2292 200 100 200 C 44.7708 200 0 155.2292 0 100 Z";
}

.outerring {
	-fx-fill: transparent;
    -fx-stroke: linear-gradient(to bottom,
                                         rgb(204,204,204) 0%,
                                         rgb(133,133,133) 26%,
                                         rgb(84,84,84) 100%);
}

.innerring {
	-fx-fill: transparent;
    -fx-stroke: linear-gradient(to bottom,
                                         rgb(71,72,72) 0%,
                                         rgb(110,106,107) 50%,
                                         rgb(186,185,187) 100%);                                         
}

/***************************************************************************************************************
 * This are the actual classes being assigned to the segments, they use the variables to obtain their color.
 */ 

.segment {
    -fx-stroke: #888888;
    -fx-fill: #888888;
}

.segment0 {
    -fx-stroke: -fxx-segment0-color;
    -fx-fill: -fxx-segment0-color;
}

.segment1 {
    -fx-stroke: -fxx-segment1-color;
    -fx-fill: -fxx-segment1-color;
}

.segment2 {
    -fx-stroke: -fxx-segment2-color;
    -fx-fill: -fxx-segment2-color;
}

.segment3 {
    -fx-stroke: -fxx-segment3-color;
    -fx-fill: -fxx-segment3-color;
}

.segment4 {
    -fx-stroke: -fxx-segment4-color;
    -fx-fill: -fxx-segment4-color;
}

.segment5 {
    -fx-stroke: -fxx-segment5-color;
    -fx-fill: -fxx-segment5-color;
}

.segment6 {
    -fx-stroke: -fxx-segment6-color;
    -fx-fill: -fxx-segment6-color;
}

.segment7 {
    -fx-stroke: -fxx-segment7-color;
    -fx-fill: -fxx-segment7-color;
}

.segment8 {
    -fx-stroke: -fxx-segment8-color;
    -fx-fill: -fxx-segment8-color;
}

.segment9 {
    -fx-stroke: -fxx-segment9-color;
    -fx-fill: -fxx-segment9-color;
}

/**
 * The segment-active class can be used to modify an segment that is under the needle (this can be more than if the segments are setup in such a way).
 */
 
.segment-active {
}

/**
 * The segmentX-active are assigned corresponding to the segment that is under the needle (this can be more than if the segments are setup in such a way).
 * This is the place to associate an indicator with a segment, by adding one of these line to the appropriate class:
 *     -fxx-error-indicator-visibility: visible; 
 *     -fxx-warning-indicator-visibility: visible; 
 * Interesting is it to have transparent segments, while not visible, these can become active and show an indicator.
 
.segment0-active {
}

.segment1-active {
}

.segment2-active {
}

.segment3-active {
}

.segment4-active {
}

.segment5-active {
}

.segment6-active {
}

.segment7-active {
}

.segment8-active {
}

.segment9-active {
}
 */

/***************************************************************************************************************
 * Color schemes, these assign different values to the variables.
 */

.colorscheme-light {
    -fxx-backplate-color: #f0f0f0;
	-fxx-needle-color: #F8907D;
	-fxx-tick-color: black;
}

.colorscheme-dark {
    -fxx-backplate-color: #2f2f2f;
	-fxx-needle-color: #F8907D;
	-fxx-tick-color: white;
}

.colorscheme-green {
    -fxx-backplate-color: #46934E;
	-fxx-needle-color: white;
	-fxx-knob-color: #b0b0b0;
	-fxx-tick-color: #e0e0e0;
}

.colorscheme-red {
    -fxx-backplate-color: #AF0000;
	-fxx-needle-color: white;
	-fxx-knob-color: #b0b0b0;
	-fxx-tick-color: #e0e0e0;
}


