.CalendarPicker {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.CalendarPicker .ListSpinner {
    -fx-padding: 5 12 5 12;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
 
    -fx-background-color: #cccccc;
   
    -fx-font-size: 15pt;
    -fx-text-fill: black;
}

.CalendarPicker .weeknumber {
    -fx-font-size: 13pt;
}

.CalendarPicker .weekday-label {
    -fx-padding: 5 0 0 0;   
}

.CalendarPicker .weekend { 
	-fx-text-fill: BLACK;
	-fx-font-weight: bold;
}

.CalendarPicker .day-button {
    -fx-padding: 5 12 5 12;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
 
    -fx-background-color: #cccccc;
   
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.CalendarPicker .day-button:focused
{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}

.CalendarPicker .today {
    -fx-background-color: #aaaaaa;
}

.AgendaWeekSkin {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-padding: 5 0 0 0;   
}

.AgendaWeekSkin .scroll-pane {
    -fx-background-color: transparent;
}

.AgendaWeekSkin .DayHeader {
	-fx-border-color:LIGHTGRAY;
	-fx-border-width: 0px 0px 0px 0px;
}

.AgendaWeekSkin .DayHeader .Calendar {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 13pt;
}

.AgendaWeekSkin_popup {
    -fx-padding: 5;   
    -fx-border-color: #aaaaaa;
    -fx-background-radius: 0;
 
    -fx-background-color: #cccccc;
   
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-skin: "com.sun.javafx.scene.control.skin.ScrollBarSkin";
    -fx-background-color: null !important;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-bar .thumb {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}
.scroll-bar .track  {
    -fx-background-color: null !important;
    -fx-background-insets:  0;
}
.scroll-bar .track-background  {
    -fx-background-color: null !important;
    -fx-background-insets:  0;
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-border-radius: 0.5em;
}
.scroll-bar .increment-button {
    -fx-background-color: null;
}
.scroll-bar:horizontal .increment-button {
    -fx-padding: 0.5em 0 0.5em 0;
}
.scroll-bar:vertical .increment-button {
    -fx-padding: 0 0.5em 0 0.5em;
}
.scroll-bar .decrement-button, .scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: null;
    -fx-padding: 0;
}

.ListSpinner .left-arrow { 
    -fx-shape: "M8,-8 L0,0 L8,8 L8,5 L4,0 L8,-5 Z";
    -fx-scale-shape: false;
}
.ListSpinner .right-arrow { 
    -fx-shape: "M0,-8 L8,0 L0,8 L0,5 L4,0 L0,-5 Z";
    -fx-scale-shape: false;
}


.TheImage {
	-fx-image: url("Duke_Wave-300.png");
	-fx-translate-x: 10px;
}
