.CalendarPicker {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.CalendarPicker .ListSpinner {
    -fx-padding: 5 12 5 12;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
 
    -fx-background-color: #cccccc;
   
    -fx-font-size: 15pt;
    -fx-text-fill: black;
}

.CalendarPicker .weeknumber {
    -fx-font-size: 13pt;
}

.CalendarPicker .weekday-label {
    -fx-padding: 5 0 0 0;   
}

.CalendarPicker .day-button {
    -fx-padding: 5 12 5 12;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
 
    -fx-background-color: #cccccc;
   
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.CalendarPicker .day-button:focused
{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}

.CalendarPicker .today {
    -fx-background-color: #aaaaaa;
}

.AgendaWeekSkin .DayHeaderx {
    -fx-padding: 5 12 5 12;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
 
    -fx-background-color: #cccccc;
   
    -fx-font-size: 11pt;
    -fx-text-fill: black;

	-fx-border-color:white;
	-fx-border-width: 0px 0px 0px 1px;
}

.scroll-bar {
    -fx-skin: "com.sun.javafx.scene.control.skin.ScrollBarSkin";
    -fx-background-color: null !important;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-bar .thumb {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}
.scroll-bar .track  {
    -fx-background-color: null !important;
    -fx-background-insets:  0;
}
.scroll-bar .track-background  {
    -fx-background-color: null !important;
    -fx-background-insets:  0;
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-border-radius: 0.5em;
}
.scroll-bar .increment-button {
    -fx-background-color: null;
}
.scroll-bar:horizontal .increment-button {
    -fx-padding: 0.5em 0 0.5em 0;
}
.scroll-bar:vertical .increment-button {
    -fx-padding: 0 0.5em 0 0.5em;
}
.scroll-bar .decrement-button, .scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: null;
    -fx-padding: 0;
}
