#custom .icon  {
	-fx-image: url("AlternateCalendarIcon.jpg");
}
.xCalendarTextField .icon  {
	-fx-image: url("AlternateCalendarIcon.jpg");
}

#custom .icon:disabled  {
	-fx-image: url("AlternateCalendarIconDisabled.jpg");
}
.xCalendarTextField .icon:disabled  {
	-fx-image: url("AlternateCalendarIconDisabled.jpg");
}